@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
.nav {
  background: #01395E;
  font-family: "Open Sans";
  font-weight: 700;
  margin-bottom: 0% !important;
  z-index: 5; }
  .nav a {
    color: white !important; }

.navnormal {
  background-color: #01395E; }

.navscroll {
  background: white;
  color: #01395E; }

.navbar-nav {
  width: 100%;
  margin-bottom: 5%;
  z-index: 5 !important;
  margin: auto !important;
  display: inline-block;
  position: fixed; }

.navbar-brand {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: white !important; }

.mobile {
  display: none;
  position: sticky;
  width: 100%;
  top: 0;
  bottom: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #01395E;
  font-family: "Open Sans";
  font-weight: 700;
  margin-bottom: 0% !important;
  z-index: 5; }
  .mobile div {
    width: 100%;
    background-color: #929292;
    padding-top: 3%;
    margin-top: 5%;
    margin-bottom: -3%;
    padding-bottom: 4%;
    display: none; }
    .mobile div ul {
      background-color: #929292; }
    .mobile div a {
      text-align: center;
      width: 100%;
      background-color: #929292; }
  .mobile button {
    z-index: 99 !important;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
    text-indent: 200%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8) url(https://i.imgur.com/vKRaKDX.png) center no-repeat;
    background-size: 80%;
    width: 40px;
    height: 40px;
    outline: none;
    background-color: transparent;
    transition: all 400ms ease;
    border: 0; }
    .mobile button.expanded {
      transform: rotate(90deg);
      border: 0; }

.jumboimage {
  opacity: 0.6;
  color: #F2E5D2;
  background: url(hangout.jpg) center 35%;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.jumbotron {
  z-index: 0;
  height: 100vh;
  margin-bottom: -.2%;
  position: relative;
  background-color: #929292; }
  .jumbotron h1 {
    margin-top: 45vh;
    z-index: 2;
    position: relative;
    color: white;
    opacity: .9;
    margin-bottom: 17.5%; }
  .jumbotron i {
    z-index: 3 !important;
    opacity: 1;
    color: white;
    position: relative;
    width: 100%; }

.about {
  margin-bottom: -1.1%; }
  .about .aboutheader {
    background-color: #929292;
    text-align: center;
    color: white;
    font-size: 2em;
    padding-bottom: 2%; }
  .about p {
    font-family: 'Open Sans';
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 80%;
    line-height: 170%;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 75%; }
  .about #about {
    font-weight: 300;
    padding-top: 60px;
    margin-top: 0px;
    padding-bottom: 0%;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Lato', sans-serif; }
  .about .linebreak {
    background-color: #01395E;
    height: 3px;
    width: 25%;
    margin: auto;
    margin-top: 1%; }

.education {
  background: url(stars.png) center -10%;
  background-color: #01395E;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: center; }
  .education p {
    font-size: 1em;
    text-align: left;
    font-family: 'Open Sans', sans-serif; }
  .education .header {
    color: white;
    font-weight: 300;
    padding-top: 60px;
    margin-top: 0;
    padding-bottom: 0%;
    font-size: 3em;
    text-align: center;
    font-family: 'Lato', sans-serif; }
  .education time {
    font-size: 1.5em; }

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 5px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-left: 47.25vw;
  padding-top: 50px;
  background: #F2E5D2; }

.timeline h5 {
  text-align: center;
  padding-bottom: 5%; }

.timeline h4 {
  padding-top: 5%;
  text-align: Center; }

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit; }

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 30vw;
  padding: 15px;
  background: #8B0E3A; }

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid; }

.timeline ul li:nth-child(odd) div {
  left: 45px; }

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #8B0E3A transparent transparent; }

.timeline ul li:nth-child(even) div {
  left: -32vw; }
  .timeline ul li:nth-child(even) div .linebreak {
    border: none;
    border-color: none;
    border-width: 0;
    position: relative;
    display: block;
    width: 50% !important;
    height: 2px !important;
    padding: 0px;
    margin-left: 139%;
    margin-top: -3%;
    margin-bottom: 3%;
    background-color: white; }

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #8B0E3A; }

.timeline .linebreak {
  position: relative;
  border: none !important;
  border-color: none;
  border-width: 0px 0px 0px 0px !important;
  display: block;
  width: 50% !important;
  height: 2px !important;
  padding: 0px;
  margin-left: 15%;
  margin-top: -3%;
  margin-bottom: 3%;
  background-color: white; }

.skills {
  background-color: #F2E5D2;
  text-align: center;
  width: 100%; }
  .skills .header {
    color: #333333;
    font-weight: 300;
    padding-top: 60px;
    margin-top: 0;
    padding-bottom: 0%;
    padding-top: 60px;
    font-size: 3em;
    text-align: center;
    font-family: 'Lato', sans-serif; }
  .skills .row {
    margin: auto;
    margin-top: 5%;
    text-align: center; }
  .skills .text {
    margin-top: 7.5%;
    font-weight: 700;
    font-size: 2em; }
  .skills .icon {
    height: 75px;
    width: 75px; }
  .skills h4 {
    margin-top: 5%; }
  .skills h3 {
    line-height: 150%;
    margin-bottom: 5%; }
  .skills .description ul {
    list-style: none;
    position: left; }
  .skills p {
    font-family: 'Merriweather';
    font-weight: 800;
    font-size: 4em; }

.contact {
  width: 100%;
  background-color: #01395E;
  text-align: center;
  font-size: 3em;
  color: white; }
  .contact .row {
    width: 25%;
    margin: 0 auto; }
    .contact .row .col-md-6 a {
      color: white; }
    .contact .row .col-md-6 a:visited {
      color: white; }
    .contact .row .col-md-6 a:hover {
      color: white; }
    .contact .row .col-md-6 a:active {
      color: white; }

.resumelink {
  height: 20%;
  width: 20vw;
  text-align: center;
  font-family: "Open-Sans", sans-serif;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: white;
  border-radius: 25px; }
  .resumelink a {
    text-decoraton: none;
    color: #01395E; }

@media (max-width: 800px) {
  .mobile {
    display: block; }

  .about #about {
    padding-top: 150px;
    margin-top: -120px; }

  .education p {
    padding-top: 150px;
    margin-top: -120px; }

  .desktop {
    display: none; } }

/*# sourceMappingURL=tjavid.css.map */
